.button {
    background-color: rgb(var(--dark-pink-200));
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: var(--text);
    font-weight: 500;
    font-size: 100%;
    cursor: pointer;
    border-radius: 5px;
    line-height: 1.15;
    transition: 0.2s all;
    box-shadow: var(--global-shadow-soft);
    padding: 5px 15px 5px 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

.button:hover {
    background-color: rgb(var(--dark-pink-300));
    transform: translateY(-2px);
}

.button:active {
    background-color: rgba(var(--dark-pink-200), 0.8);
    transform: translateY(0.25px);
}

.button:disabled {
    background-color: rgba(var(--dark-pink-200), 0.2);
}

.w-10 {
    width: 10%;
}

.w-20 {
    width: 20%;
}

.w-30 {
    width: 30%;
}

.w-40 {
    width: 40%;
}

.w-50 {
    width: 50%;
}

.w-60 {
    width: 60%;
}

.w-70 {
    width: 70%;
}

.w-80 {
    width: 80%;
}

.w-90 {
    width: 90%;
}

.w-100 {
    width: 100%;
}