.search {
    border: none;
    border-radius: var(--radius);
    height: 2.5rem;
    padding: 2px 25px 2px 15px;
    outline: 0;
    background-color: rgb(var(--grey-400));
    color: rgb(var(--grey-100));
    transition: 0.2s all;
    width: 100%;
}

.search::placeholder {
    color: rgba(var(--grey-100), 0.6);
}

.search:focus {
    background-color: rgba(var(--grey-400), 0.8);
}