.main {
    color: rgb(var(--white));
    background-color: transparent;
}

.info_wrapper {
    background-color: transparent;
}

.banner {
    grid-area: banner;
    grid-column: 1/4;
    grid-row: 1/6;
    z-index: -1;

    transform-style: preserve-3d;
    background-color: transparent;
    display: none;
}

.bannerImage {
    object-fit: cover;
    position: absolute;
    width: 70%;
    transform: translateZ(-4.5px) scale(3);
}

.gradient {
    grid-column: 2/5;
    grid-row: 6;
    background-color: rgb(var(--black));
    box-shadow: 0 0 50vh 60vh rgb(var(--black));
    grid-area: gradient;
    display: none;
}

.data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    grid-area: data;
    gap: 15px;
}

.stats {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    padding: 1em;
    grid-area: stats;
    gap: 15px;
}

.stats_data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    grid-area: stats;
    background-color: rgb(var(--blue-300));
    padding: 0px 15px 0px 15px;
    border-radius: var(--radius);
    gap: 0px;
}

.stats_data_item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    line-height: 1rem;
}

.stats_data_item p {
    font-family: "Roboto Mono", "sans-serif";
    font-size: small;
    color: rgb(var(--grey-200));
}

.genres {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 5px;
    width: 100%;
    height: auto;
    grid-area: genres;
}

.genre {
    color: rgb(var(--dark-pink-400));
    line-height: 1rem;
    font-weight: 600;
    font-size: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: rgb(32, 30, 39);
    border-radius: var(--radius-small);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    transition: 0.2s all;
    cursor: pointer;
    text-align: center;
}

.genre:hover {
    background-color: rgba(var(--blue-400), 0.8);
    transform: translateY(-1px);
}

.genre:active {
    background-color: rgba(var(--blue-300));
    transform: translateY(0.25px);
}

.genre:disabled {
    background-color: rgba(var(--dark-pink-200), 0.2);
}

.info {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    grid-area: info;
    gap: 3rem;
}

.coverImage {
    border-radius: var(--radius-small);
    box-shadow: var(--global-shadow-soft);
}

.info_title {
    font-size: 2.5rem;
    font-weight: 600;
    font-family: var(--title);
    text-shadow: 0 0 0.5rem rgb(var(--blue-100));
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    line-height: normal;
}

.titles {
    display: flex;
    flex-direction: column;
    gap: 0;
    line-height: 0;
    padding: 5px;
    grid-area: titles;
}

.description {
    background-color: rgb(var(--blue-300));
    padding: 5px 15px 5px 15px;
    border-radius: var(--radius);
    box-shadow: var(--global-shadow-soft);
    transition: 0.2s all;
    cursor: pointer;
    grid-area: description;
}

.description:hover {
    background-color: rgba(var(--blue-400), 0.8);
}

.episode_list {
    position: absolute;
    grid-area: episodes;
}

.episode_list_header {
    display: flex;
    flex-direction: row;
    line-height: 0;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}

.episodes {
    max-height: 50vh;
    min-width: 20vw;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    background-color: rgb(var(--blue-200));
    border-radius: var(--radius);
    padding: 5px;
}

.episode {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    line-height: 1rem;
    padding: 10px;
    border-bottom: 1px solid rgb(var(--blue-300));
    cursor: pointer;
    transition: 0.2s all;
    border-radius: var(--radius-smallest);
    border: 2px solid transparent;
}

.episode_thumb {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: var(--radius-small);
    background-color: rgb(var(--grey-100));
    transition: 0.2s all;
}

.episode p {
    font-weight: 600;
    font-size: large;
}

.episode:hover {
    background-color: rgb(var(--blue-300));
    border: 2px solid rgb(var(--blue-400));
}

.episode:active {
    transform: translateY(3px);
}

.episode:hover .episode_thumb {
    background-color: rgba(var(--dark-pink-200));
}

.show_more {
    width: 100%;
    height: 100%;
    line-height: 1rem;
    padding: 5px 0px 5px 0px;
    cursor: pointer;
    transition: 0.2s all;
    color: rgb(var(--grey-200));
}

.description:hover .show_more {
    color: rgba(var(--grey-300), 0.8);
}

.episode_select {
    width: 100%;
}

@media screen and (max-width: 840px) {
    .info {
        display: initial;
    }

    .episode_list {
        position: relative;
    }
    .stats {
        display: grid;
        grid-template-areas:
        "info info info"
        "episodes episodes episodes"
        "data data data";
    }

    .coverImage {
        width: 40vw;
        height: auto;
    }
}

@media screen and (max-width: 600px) {
    .coverImage {
        width: 50vw;
        height: auto;
    }
}

@media screen and (max-width: 500px) {
    .coverImage {
        width: 60vw;
        height: auto;
    }
}