.main {
    width: 100%;
    min-width: 100vw;
    min-height: 100vh;
}

.slide {
    border-radius: var(--radius);
    height: 100%;
    width: 100%;
    position: relative;
    margin: 0 auto;
    transition: 0.2s all;
    min-height: 45vh;
    overflow-y: hidden;
    overflow-x: hidden;
    transition: 0.2s all;
}

.slide:hover {
    transform: translateY(-3px);
}

.slide:active {
    transform: translateY(0.25px);
}

.slide:hover .slide_banner {
    opacity: 0.4;
}

.slide_banner {
    position: absolute;
    object-fit: cover;
    max-width: 100%;
    display: block;
    vertical-align: middle;
    width: 150%;
    height: 150%;
    top: 0;
    left: 0;
    z-index: 0;
    transition: 0.2s all;
    opacity: 0.3;
}

.slide_link {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
}

.slide_info {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding: 0 1em;
    z-index: 10;
    max-width: 75%;
    margin-top: 5vh;
}

.slide_info h1 {
    font-size: 3rem;
    font-weight: 600;
    color: rgb(var(--white));
    text-shadow: 0 0 0.5rem rgb(var(--blue-100));
    text-decoration: none;
    transition: 0.2s all;
    z-index: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    margin: 0;
}

.slide_info p {
    font-size: 1rem;
    color: rgb(var(--grey-300));
    text-shadow: 0 0 0.5rem rgb(var(--blue-100));
    text-decoration: none;
    transition: 0.2s all;
    z-index: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    line-clamp: 5;
    -webkit-box-orient: vertical;
}

.slide_info_stats {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    z-index: 10;
    margin: 0;
}

.slide_info_stats p {
    font-size: 1rem;
    color: rgb(var(--grey-200));
    text-shadow: 0 0 0.5rem rgb(var(--blue-100));
    text-decoration: none;
    transition: 0.2s all;
    z-index: inherit;
}