.main {
    width: 100%;
    min-width: 100vw;
    min-height: 100vh;
}

.slide {
    border-radius: var(--radius);
    height: 100%;
    width: 100%;
    position: relative;
    margin: 0 auto;
    transition: 0.2s all;
    min-height: 45vh;
    overflow-y: hidden;
    overflow-x: hidden;
    transition: 0.2s all;
}

.slide:hover {
    transform: translateY(-3px);
}

.slide:active {
    transform: translateY(0.25px);
}

.slide:hover .slide_banner {
    opacity: 0.4;
}

.slide_banner {
    position: absolute;
    object-fit: cover;
    max-width: 100%;
    display: block;
    vertical-align: middle;
    width: 150%;
    height: 150%;
    top: 0;
    left: 0;
    z-index: 0;
    transition: 0.2s all;
    opacity: 0.3;
}

.slide_link {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
}

.slide_info {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding: 0 1em;
    z-index: 10;
    max-width: 75%;
    margin-top: 5vh;
}

.slide_info h1 {
    font-size: 3rem;
    font-weight: 600;
    color: rgb(var(--white));
    text-shadow: 0 0 0.5rem rgb(var(--blue-100));
    text-decoration: none;
    transition: 0.2s all;
    z-index: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    margin: 0;
}

.slide_info p {
    font-size: 1rem;
    color: rgb(var(--grey-300));
    text-shadow: 0 0 0.5rem rgb(var(--blue-100));
    text-decoration: none;
    transition: 0.2s all;
    z-index: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    line-clamp: 5;
    -webkit-box-orient: vertical;
}

.slide_info_stats {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    z-index: 10;
    margin: 0;
}

.slide_info_stats p {
    font-size: 1rem;
    color: rgb(var(--grey-200));
    text-shadow: 0 0 0.5rem rgb(var(--blue-100));
    text-decoration: none;
    transition: 0.2s all;
    z-index: inherit;
}

.loading {
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 1em;
}

.bottom {
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 1em;
    padding: 0 1em;
    margin-top: 2vh;
}

.search_wrapper {
    padding: 0 1em;
}

.seasonal_wrapper {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 2vh;
}

.seasonal_wrapper h2 {
    font-size: 1.75rem;
    font-weight: 600;
    color: rgb(var(--grey-200));
    text-shadow: 0 0 0.5rem rgb(var(--blue-100));
    text-decoration: none;
    transition: 0.2s all;
    z-index: inherit;
    margin: 0;
    padding: 0 1em;
}

.seasonal {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 3vw;
}

.seasonal_item {
    border-radius: var(--radius);
    height: 100%;
    width: 100%;
    position: relative;
    margin: 0 auto;
    transition: 0.2s all;
    min-height: 30vh;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    transition: 0.2s all;
    width: 30vw;
    border: 4px solid transparent;
}

.seasonal_item:hover {
    border: 4px solid rgba(var(--dark-pink-400), 0.5);
}

.seasonal_item:active {
    transform: translateY(4px);
    border: 4px solid rgba(var(--dark-pink-400), 0.8);
}

.seasonal_banner {
    position: absolute;
    object-fit: cover;
    max-width: 100%;
    display: block;
    vertical-align: middle;
    width: 150%;
    height: 150%;
    top: 0;
    left: 0;
    z-index: 0;
    transition: 0.2s all;
    opacity: 0.7;
}

.gradient {
    background: linear-gradient(180deg, rgba(25,26,28,0.1), rgba(15, 15, 16, 0.9));
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(25,26,28,0.1)), to(rgb(15, 15, 16, 0.9)));
    width: 100%;
    height: 100%;
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.2s all;
}

.seasonal_link {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    transition-property: transform;
}

.seasonal_info {
    display: flex;
    flex-direction: column;
    padding: 0 1em;
    z-index: 10;
    max-width: 75%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.seasonal_info h1 {
    font-size: 1.2rem;
    font-weight: 500;
    color: rgb(var(--white));
    text-decoration: none;
    transition: 0.2s all;
    z-index: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    margin: 0;
    line-height: 1.25rem;
}

.seasonal_info_stats {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
    z-index: 10;
    margin: 0;
    color: rgb(var(--white));
}

.seasonal_info_year {
    color: rgb(var(--grey-100));
    font-size: 1rem;
}

.genres {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}

.genre {
    color: rgb(var(--dark-pink-400));
    line-height: 1rem;
    font-weight: 600;
    font-size: 0.8rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: rgb(32, 30, 39);
    border-radius: var(--radius-small);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
}

.search_results {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
}

.search_result {
    border-radius: var(--radius);
    height: 100%;
    width: 100%;
    position: relative;
    margin: 0 auto;
    transition: 0.2s all;
    min-height: 40vh;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    transition: 0.2s all;
    width: 15vw;
    border: 4px solid transparent;
}

.search_result:hover {
    border: 4px solid rgba(var(--dark-pink-400), 0.5);
}

.search_result:active {
    transform: translateY(4px);
    border: 4px solid rgba(var(--dark-pink-400), 0.8);
}

.search_result_link {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    transition-property: transform;
}

.search_result_cover {
    position: absolute;
    object-fit: cover;
    max-width: 100%;
    display: block;
    vertical-align: middle;
    width: 150%;
    height: 150%;
    top: 0;
    left: 0;
    z-index: 0;
    transition: 0.2s all;
    opacity: 0.7;
}

.search_result_info {
    display: flex;
    flex-direction: column;
    padding: 0 1em;
    z-index: 10;
    max-width: 75%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.search_result_info h1 {
    font-size: 1.2rem;
    font-weight: 500;
    color: rgb(var(--white));
    text-decoration: none;
    transition: 0.2s all;
    z-index: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    margin: 0;
    line-height: 1.25rem;
}

.search_result_info_stats {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
    z-index: 10;
    margin: 0;
    color: rgb(var(--white));
}

@media screen and (max-width: 1300px) {
    .search_results {
        grid-template-columns: auto auto auto auto auto;
    }

    .search_result {
        width: 18vw;
    }
}

@media screen and (max-width: 1200px) {
    .search_results {
        grid-template-columns: auto auto auto auto;
    }

    .search_result {
        min-height: 30vh;
    }
}

@media screen and (max-width: 1100px) {
    .search_results {
        grid-template-columns: auto auto auto;
    }

    .search_result {
        width: 25vw;
    }
}

@media screen and (max-width: 1000px) {
    .search_result {
        width: 30vw;
    }
}

@media screen and (max-width: 600px) {
    .search_results {
        grid-template-columns: auto auto;
    }
    .search_result {
        width: 45vw;
    }
}

@media screen and (max-width: 1100px) {
    .seasonal {
        grid-template-columns: auto auto auto;
    }

    .seasonal_item {
        width: 25vw;
    }
}

@media screen and (max-width: 1000px) {
    .seasonal_item {
        width: 30vw;
    }
}

@media screen and (max-width: 600px) {
    .seasonal {
        grid-template-columns: auto auto;
    }

    .seasonal_item {
        width: 45vw;
    }
}