/* Back */
.back {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    color: rgb(var(--white));
    font-size: 1.5rem;
    padding: 15px;
}

.back a {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}

.video_container {
    display: grid;
    grid-area: 1/1/1/1;
    width: 100%;
    height: 100%;
    position: relative;
}

/* Player Events */
.videoplayer[paused] .media-pause-icon {
    opacity: 0;
}

.videoplayer:not([paused]) .media-play-icon {
    opacity: 0;
}

.videoplayer:not([muted]) .media-mute-icon {
    opacity: 0;
}

.videoplayer[muted] .media-unmute-icon {
    opacity: 0;
}

.videoplayer:not([can-play]) .media-buffering-icon, .videoplayer[waiting] .media-buffering-icon {
    opacity: 1;
    animation: spin 1s linear infinite;
}

.videoplayer[fullscreen] .media-enter-fs-icon {
    opacity: 0;
}

.videoplayer:not([fullscreen]) .media-exit-fs-icon {
    opacity: 0;
}

.videoplayer[hide-ui] .ui, .videoplayer[user-idle] .ui, .videoplayer:not([can-play]) .ui {
    opacity: 0;
    visibility: hidden;
}

.videoplayer[hide-ui] .media-controls-container, .videoplayer[user-idle] .media-controls-container, .videoplayer:not([can-play]) .media-controls-container {
    background: none;
}

.videoplayer[hide-ui] .subtitles, .videoplayer[user-idle] .subtitles, .videoplayer:not([can-play]) .subtitles {
    opacity: 1;
    visibility: initial;
    transform: translateY(-40px);
}

/* Buffering */
.media-buffering-container {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
}

.media-buffering-icon {
    width: 96px;
    height: 96px;
    color: white;
    opacity: 0;
    transition: opacity 200ms ease;
}

.media-buffering-track {
    opacity: 0.25;
}

.media-buffering-track-fill {
    opacity: 0.75;
    stroke-dasharray: 100;
    stroke-dashoffset: 50;
}

/* Controls */
.media-controls-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
    background: linear-gradient(180deg,rgba(0,0,0,.7),transparent 49.48%,rgba(0,0,0,.7));
    transition: all .3s ease;
}

/* Controls Group */
.media-controls-group {
    display: flex;
    width: 100%;
    min-height: 48px;
    opacity: 1;
    padding: 8px;
    transition: opacity 200ms ease;
    pointer-events: auto;
}

.controls {
    display: flex;
    flex-direction: row;
    width: 95%;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    z-index: 30;
    grid-area: 1/1/1/1;
    transition: opacity ease 300ms;
    opacity: 1;
}

.left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    z-index: inherit;
}

.center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

/* Play/Pause Button */
.playbutton {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 4px;
    cursor: pointer;
    color: white;
}

.playbutton > svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity ease 150ms;
}

/* Mute Button */
.mutebutton {
    position: relative;
    width: 35px;
    height: 35px;
    border-radius: 4px;
    cursor: pointer;
    color: white;
}

.mutebutton > svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity ease 150ms;
}

/* Full Screen Button */
.fullscreenbutton {
    position: relative;
    width: 35px;
    height: 35px;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    align-self: right;
}

.fullscreenbutton > svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity ease 150ms;
}

.slider {
    width: 85%;
    margin: 0 auto;
    position: absolute;
    border-radius: var(--radius);
}

.timeslider {
    display: flex;
    align-items: center;
    width: 100%;
    height: var(--media-slider-height);
    margin: 0 calc(var( --media-slider-thumb-size) / 2);
    cursor: pointer;
    transition: all .3s ease;
    border-radius: var(--radius);
}

.timeslider:not(:hover) {
    --media-slider-track-height: 8px;
    --media-slider-height: 8px;
}

.timeslider:hover {
    --media-slider-track-height: 10px;
    --media-slider-height: 10px;
}

.slider-track {
    background-color: rgb(var(--grey-100));
    width: 100%;
    height: var(--media-slider-track-height);
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 0;
    transform: translateY(-50%);
    transition: all .3s ease;
    border-radius: var(--radius);
}

.slider-track.fill {
    background-color: rgb(var(--dark-pink-400));
    transform-origin: left center;
    transform: translateY(-50%) scaleX(var(--vds-fill-rate));
    will-change: transform;
    z-index: 1;
    border-radius: var(--radius);
}

.slider-thumb-container {
    position: absolute;
    top: 0;
    left: var(--vds-fill-percent);
    width: var(--media-slider-thumb-size);
    height: 100%;
    transform: translateX(-50%);
    z-index: 2;
    will-change: left;
}

.timeslider[dragging] .slider-thumb-container {
    left: var(--vds-pointer-percent);
}

.slider-thumb {
    display: none;
    position: absolute;
    top: 50%;
    left: 0;
    width: var(--media-slider-thumb-width);
    height: var(--media-slider-thumb-width);
    border-radius: 9999px;
    background-color: rgb(var(--white));
    transform: translateY(-50%);
}

/* Preview Time */
.media-time-container {
    --width: 42px;
    --width-half: calc(var(--width) / 2);
    --top: -24px;
    --opacity-duration: 200ms;

    --left-clamp: max(var(--width-half), var(--vds-pointer-percent));
    --right-clamp: calc(100% - var(--width-half));
    --left: min(var(--left-clamp), var(--right-clamp));

    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: var(--top);
    left: var(--left);
    width: var(--width);
    opacity: 0;
    transition: opacity ease-out var(--opacity-duration);
    transform: translateX(-50%);
    will-change: left;
    border-radius: 2px;
    z-index: 101;
}

.timeslider[pointing] .media-time-container {
    opacity: 1;
    transition: opacity ease-in var(--opacity-duration);
}

.slider_value {
    font-size: 15px;
    padding: 4px 15px;
    border-radius: var(--radius);
    color: rgb(var(--white));
    background-color: rgb(var(--blue-300));
    font-family: "Comfortaa", sans-serif;
    font-weight: 600;
    z-index: 101;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}