.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 0;
    gap: 3rem;
    padding: 4rem 1rem;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header h1 {
    font-size: 5rem;
    color: rgb(var(--pink-500));
    text-shadow: var(--global-shadow);
}

.search_wrapper {
    width: 100%;
    max-width: 100vw;
}

.search {
    height: 3rem;
}

.submit {
    border-radius: 0px;
}

.submit_end {
    border-radius: 0px 5px 5px 0px;
}

.fields {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.cover_wrapper img {
    max-width: 20vh;
    width: 100%;
    height: auto;
}

.input {
    border: none;
    border-radius: 5px;
    height: 2.5rem;
    width: 100%;
    padding: 2px 25px 2px 15px;
    outline: 0;
    background-color: rgb(var(--blue-200));
    color: rgb(var(--grey-100));
}

.input::placeholder {
    color: rgba(var(--grey-100), 0.6);
}

.textarea {
    background-color: rgb(var(--blue-200));
    border: none;
    border-radius: 5px;
    color: rgb(var(--grey-100));
    padding: 10px 15px 10px 15px;
    width: 100%;
    outline: none;
    font-family: inherit;
}

.button {
    background-color: rgb(var(--blue-300));
    border: none;
    color: rgb(var(--grey-100));
    width: 100%;
    padding: 10px;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
    transition: 0.2s all;
}

.button:hover {
    background-color: rgba(var(--blue-300), 0.8);
}

.button:disabled {
    background-color: rgba(var(--blue-200), 0.5);
    cursor: not-allowed;
}

@media screen and (max-width: 1000px) {
    .header h1 {
        font-size: 7rem;
    }

    .textarea {
        height: 20vh;
    }
}