/* PARALLAX */
.main {
    grid-area: main;
    grid-column: 2;
    grid-row: 4/5;

    display: grid;
    grid-template-columns: min(20%, 200px) 1fr;
    gap: 1.5rem;
    background-color: transparent;
    grid-template-areas: "sidebar info";
}

.wrapper {
    overflow-x: hidden;
    height: 100vh;

    display: grid;
    grid-template-columns: 15vw 70vw 15vw;
    grid-template-rows: 2vh 8vh 25vh 25vh 40vh 30vh 5vh;

    background-color: transparent;

    perspective: 10px;
    grid-template-areas: 
        "navbar navbar navbar"
        "banner banner banner"
        "banner banner banner"
        "gradient gradient gradient"
        "main main main"
        "main main main"
        "chapters chapters chapters"
        "footer footer footer";
}

/* BANNER AND GRADIENT */
.banner {
    grid-area: banner;
    grid-column: 1/4;
    grid-row: 1/6;
    z-index: -1;

    transform-style: preserve-3d;
    background-color: transparent;
}

.bannerimage {
    object-fit: cover;
    position: absolute;
    width: 70%;
    transform: translateZ(-4.5px) scale(3);
}

.gradient {
    grid-column: 2/5;
    grid-row: 6;
    background-color: rgb(var(--black));
    box-shadow: 0 0 50vh 60vh rgb(var(--black));
}

/* MAIN CONTENT */

/* INFO */
.mangatitle {
    font-size: 3rem;
    color: rgb(var(--grey-300));
    text-shadow: var(--global-shadow);
}

.mangasubtitle {
    color: rgb(var(--grey-200));
    text-shadow: var(--global-shadow);
}

.mangadescription {
    margin-top: 1rem;
    color: rgb(var(--grey-100));
    text-shadow: var(--global-shadow);
    margin-bottom: 1rem;
}

/* SIDEBAR */
.sidebar {
    grid-area: sidebar;
    display: grid;
    grid-gap: 1rem;
    grid-template-rows: auto auto auto 1fr;
    grid-template-areas:
        "cover"
        "genres"
        "stats"
        ".";
}

.cover {
    grid-area: cover;
    aspect-ratio: 2/3;
    width: 100%;
    height: 100%;
    box-shadow: var(--global-shadow);
    max-height: calc(350px - 4rem);
}

.coverimage {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: var(--radius);
}

.genres {
    display: flex;
    flex-direction: row;
    grid-area: genres;
    flex-wrap: wrap;
    justify-content: center;
}

.genre {
    font-size: .8rem;
    background-color: rgb(var(--blue-300));
    border-radius: var(--radius);
    box-shadow: 0 0 0.7rem black;
    color: rgb(var(--grey-300));
    padding: 0.3rem 1rem;
    cursor: pointer;
    margin: 0.3rem;
    transition: 0.2s all;
}

.genre:hover {
    background-color: rgb(var(--blue-400));
}

.stats {
    background-color: rgb(var(--blue-200));
    padding: 15px;
    border-radius: var(--radius);
    display: grid;
    grid-template-columns: auto;
    gap: 0.3rem;
}

.statbox {
    color: rgb(var(--grey-200));
}

.stattext {
    color: rgb(var(--color-text-600));
}

.staticon {
    height: 1.3rem;
    width: 1.3rem;
    object-fit: contain;
    vertical-align: middle;
    margin-right: 0.1rem;
}

.chapters {
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}

.chaptersheader {
    color: rgb(var(--grey-300));
    font-size: 1.3rem;
}

.providerlist {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.providerchapters {
    max-height: 100vh;
    overflow-y: scroll;
    background-color: rgb(var(--blue-100));
    border-radius: 5px;
}

.chapter {
    color: rgb(var(--grey-200));
    padding: 20px 15px 20px 20px;
    transition: 0.2s all;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

.chapter:hover {
    background-color: rgb(var(--blue-200));
}

.footer {
    height: auto;
}

.hidden {
    display: none;
}

@media screen and (max-width: 1000px) {
    .wrapper {
        grid-template-rows: 2vh 8vh 8vh 25vh 40vh 20vh 5vh;
    }

    .main {
        display: flex;
        flex-direction: column;
    }

    .sidebar {
        grid-template-columns: 1fr;
    }

    .staticon {
        height: 2rem;
        width: 2rem;
    }

    .cover {
        width: 50%;
    }

    .coverimage {
        height: auto;
    }

    .stattitle, .stattext {
        font-size: 1.75rem;
    }

    .mangatitle {
        font-size: 4rem;
    }

    .mangasubtitle {
        font-size: 2rem;
    }

    .mangadescription {
        font-size: 1.35rem;
    }

    .genre {
        font-size: 1.75rem;
    }

    .chapterslist {
        margin-bottom: 50px;
    }

    .chaptersheader {
        font-size: 3rem;
    }

    .chapter {
        font-size: 2.3rem;
        padding: 45px 15px 20px 45px;
    }

    .bannerimage {
        object-fit: cover;
        position: absolute;
        transform: translateZ(-4.5px) scale(7);
    }

    .footer {
        display: none;
    }
}