/* PARALLAX */
.main {
    grid-area: main;
    grid-column: 2;
    grid-row: 4/5;

    display: grid;
    grid-template-columns: min(20%, 200px) 1fr;
    gap: 1.5rem;
    background-color: transparent;
    grid-template-areas: "sidebar info";
}

/* Header */
.header_wrap {
    position: relative;
    z-index: 0;
    margin-top: 7vh;
}

.header {
    background: rgb(var(--blue-200));
    position: relative;
    margin: 0 auto;
    padding: 50px;
}

.header_wrapper {
    display: grid;
    grid-column-gap: 30px;
    grid-template-columns: 215px auto;
    margin: 0 auto;
    min-width: 320px;
    width: 100%;
}

/* BANNER AND GRADIENT */
.bannerimage {
    background-position: 50% 35%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    margin-top: -58px;
}

.gradient {
    background: linear-gradient(180deg,rgba(6,13,34,0) 40%,rgba(6,13,34,.6));
    height: 100%;
    width: 100%;
}

.cover_wrapper {
    margin-top: -125px;
    position: relative;   
}

.cover_wrapper_inner {
    position: static;
}

.cover {
    border-radius: 2px;
    box-shadow: 0 0 29px rgb(49 54 68 / 25%);
    margin-top: 15px;
    width: 100%;
}

.main_content {
    display: grid;
    grid-template-columns: 35vw 40vw;
    grid-template-areas: "header chapters";
}

.header_content {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-top: 0px;
    position: relative;
    z-index: 1;
    line-height: 0;
    font-family: "Roboto";
    grid-area: header;
}

.mangatitle {
    font-size: 2.5rem;
        color: rgb(var(--grey-anilist));
    text-shadow: var(--global-shadow);
}

.mangasubtitle {
    color: rgb(var(--grey-anilist-dark));
    text-shadow: var(--global-shadow);
}

.mangadescription {
    margin-top: 1rem;
    color: rgb(var(--grey-anilist-dark));
    text-shadow: var(--global-shadow);
    margin-bottom: 1rem;
    line-height: normal;
}

.content {
    display: grid;
    grid-template-columns: 10vw 35vw 40vw;
    grid-template-areas: "sidebar header chapters";
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 90vw;
    margin-top: 30px;
}

.sidebar {
    margin-top: 0px;   
    grid-area: sidebar;
}


.genres {
    display: flex;
    flex-wrap: wrap;
    row-gap: 0px;
    gap: 0.5rem;
}

.genre {
    color: rgb(var(--grey-300));
    line-height: 1rem;
    font-weight: 600;
    font-size: 0.85rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(32, 30, 39);
    border-radius: var(--radius-small);
    box-shadow: 0 0 0.3rem black;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    transition: 0.2s all;
    cursor: pointer;
}

.genre:hover {
    color: rgb(var(--grey-200));
}

.hidden {
    display: none;
}

.relations {
    margin-top: 15px;
    padding: 0 1em;
}

.relation {
    background: rgb(var(--blue-200));
    border-radius: 15px;
    display: block;
    padding: 10px 12px;
    width: 100%;
    margin-bottom: 16px;
    font-family: "Roboto", sans-serif;
}

.relation_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.relation_text {
    display: inline-block;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    text-transform: capitalize;
    width: calc(100% - 20px);
    transition: 0.2s all;
}

.icon {
    position: relative;
    font-size: 1rem;
    transition: color .2s ease;
    stroke: rgb(var(--dark-pink-400));
}

.relation_wrapper:hover .relation_text {
    color: rgb(61,180,242);
}

.stats {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 15px;
    padding: 0 1em;
    background-color: #232436;
    border-radius: 15px;
    font-family: "Roboto", sans-serif;
}

.stats h3 {
    color: #9FADBD;
    font-weight: 600;
}

.stats p {
    color: #8596A5;
    font-weight: 300;
}

.chapters_content {
    grid-area: chapters;
}

.chapterslist {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10vw, 1fr));
    gap: 15px;
    margin-top: 15px;
}

.chapter_wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 15vh;
}

.chapter_wrapper[data-chapter] {
    margin-bottom: 0;
}

.episode_wrapper {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0 auto;
    border: 2px solid transparent;
    transition: 0.2s all;
    border-radius: 15px;
    flex-shrink: 0;
    position: relative;
}

.episode_info {
    font-family: "Roboto", sans-serif;
    color: rgb(var(--grey-anilist));
    font-size: 1.2rem;
    z-index: 5;
}

.episode {
    width: 100%;
    height: 100%;
    object-fit: cover;
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.2s all;
    cursor: pointer;
    z-index: 2;
    background-color: rgba(25, 35, 61, 0.5);
    flex-shrink: 0;
    position: relative;
    transition-property: transform;
}

.episode_image {
    position: absolute;
    object-fit: cover;
    max-width: 100%;
    display: block;
    vertical-align: middle;
    width: 150%;
    height: 150%;
    top: 0;
    left: 0;
    z-index: 0;
    filter: brightness(0.5);
}

.play_icon {
    overflow: visible;
    color: rgb(97, 132, 228);
    cursor: pointer;
    font-size: 1.1rem;
    transition: color .2s ease;
    width: 4rem;
    text-align: center;
    vertical-align: -0.125em;
    height: 4rem;
    transition: 0.2s all;
    z-index: 3;
}

.play_icon path {
    width: inherit;
    height: inherit;
    z-index: inherit;
}

.episode_wrapper[data-filler] {
    background-color: rgba(194, 207, 137, 0.7);
}

.episode_wrapper[data-filler] .episode_image {
    filter: brightness(0.3);
}

.episode_wrapper:hover {
    transform: scale(1.025);
    opacity: 0.7;
    border: 2px solid rgb(61, 180, 242);
}

.episode_wrapper:hover .play_icon {
    color: rgb(61, 180, 242);
    transform: scale(1.1);
    opacity: 1;
}

.episode_wrapper:active {
    transform: scale(1);
    opacity: 0.6;
}

.episode_wrapper:active .play_icon {
    color: rgb(61, 180, 242);
    transform: scale(1);
    opacity: 0.8;
}

.chapter {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 0.9rem;
    font-weight: 500;
    color: #9FADBD;
    transition: 0.2s all;
    background-color: #111222;
    padding-left: 0.75rem;
    border-radius: 15px;
    cursor: pointer;
}

.chapter:hover {
    color: rgb(61, 180, 242);
}

.chapter:active {
    background-color:rgb(27, 23, 45);
}

@media screen and (max-width: 3000px) {
    .bannerimage {
        margin-top: -85px;
    }

    .cover_wrapper {
        margin-top: -125px;
    }

    .header_wrapper {
        min-height: 250px;
    }
}

@media screen and (max-width: 2000px) {
    .bannerimage {
        margin-top: -58px;
    }
    .main_content {
        display: flex;
        flex-direction: column;
    }
    .chapters_content {
        margin-top: 15px;
        margin-left: 30px;
    }
    .content {
        display: grid;
        grid-template-columns: 10vw 75vw;
        position: relative;
        margin: 0 auto;
        width: 100%;
        max-width: 90vw;
        margin-top: 30px;
    }
    .chapterslist {
        grid-template-columns: repeat(auto-fill, minmax(20vw, 1fr));
    }

    .episode_number {
        margin-right: 20vw;
    }
}

@media screen and (max-width: 1600px) {
    .bannerimage {
        height: 300px;
    }
}

@media screen and (max-width: 1000px) {
    .header_wrapper {
        grid-template-columns: 250px auto;
    }

    .bannerimage {
        height: 400px;
        margin-top: 0;
    }

    .cover_wrapper {
        margin-top: -145px;
    }

    .cover_wrapper_inner {
        margin-left: 30px;
    }
    .cover {
        max-height: 500px;
        margin-top: 0;
    }
    .relation {
        padding: 16px 24px;
    }

    .relation_text, .icon {
        font-size: 1.75rem;
    }

    .icon {
        width: 50px;
        height: 50px;
    }

    .stats {
        display: none;
    }

    .header_wrap {
        margin-top: 0;
    }

    .header_content {
        grid-template-columns: 1fr;
    }

    .content {
        display: block;
        max-width: initial;
    }

    .mangatitle {
        font-size: 4rem;
    }

    .mangadescription {
        font-size: 1rem;
    }

    .genre {
        font-size: 2rem;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .header_content, .chapters_content {
        margin-left: 0;
        padding: 20px;
    }

    .chapterslist {
        grid-template-columns: repeat(auto-fill, minmax(40vw, 1fr));
    }

    .chapter_wrapper {
        margin-bottom: 10vh;
    }

    .chapter_wrapper[data-chapter] {
        margin-bottom: 0;
    }

    .episode_info {
        font-size: 2.5rem;
    }

    .chapter_title {
        font-size: 2.5rem;
    }

    .play_icon {
        width: 8rem;
        height: 8rem;
    }
}